# Les 2: Pandas Series

We gaan in deze module gebruik maken van de library pandas. Met pandas kun je vrijwel toveren met data! De pandas library bevat namelijk alles wat je nodig hebt om speciale berekeningen te doen over je data en dit op een duidelijke manier in een grafiek weer te geven. Als je met pandas aan de slag gaat moet je leren werken met twee belangrijke objecten :
* pandas Series
* pandas DataFrame

We beginnen met de pandas Series …

In de vorige les heb je leren werken met Python lijsten. Pandas Series is ook een lijst, maar dan een bijzondere! Laten we eerst zo'n Series maken:

In [11]:
import pandas as pd

sLijst = pd.Series([23,43,102,76,8,98,90])

print (sLijst)

0     23
1     43
2    102
3     76
4      8
5     98
6     90
dtype: int64

Zoals je ziet krijg je bij het printen van een Series ook meteen de bijbehorende indexen te zien.

Je kunt net als met lijsten een specifieke index uitprinten:

In [12]:
sLijst[3]

76

Je kunt natuurlijk ook de eerste vier getallen uitprinten:

In [13]:
sLijst[0:3]

0     23
1     43
2    102
dtype: int64

## Rekenen met Series

Je kunt heel handig rekenen met Series. Stel dat je een Series van getallen hebt en je wilt alle getallen vermenigvuldigen met 3. Dan kan dat heel makkelijk:

In [14]:
sLijst * 3

0     69
1    129
2    306
3    228
4     24
5    294
6    270
dtype: int64

Lekker handig hè, die pandas library!

## Optellen, aftrekken, vermenigvuldigen en delen
Je kunt zelfs twee lijsten bij elkaar optellen of door elkaar delen of met elkaar vermenigvuldigen. Probeer maar eens uit:

In [16]:
sNum = pd.Series([23,43,102,76,8,98,90])
sNum2 = pd.Series([2,2,3,2,1,4,5])

print(sNum * sNum2)

0     46
1     86
2    306
3    152
4      8
5    392
6    450
dtype: int64

_*LET OP*_: Als de twee Series niet even lang zijn dan wordt het resultaat aangevuld met NaN-waarden. NaN betekent Not a Number en wordt in pandas gebruikt voor een niet ingevulde waarde.

## Selectie
Soms wil je maar een deel van je Series laten zien. Met Python lijsten kon je slicen. Dat kan ook met Series. Kijk maar eens:

In [18]:
sNum[0:3]

0     23
1     43
2    102
dtype: int64

Of we selecteren de laatste drie elementen uit de Series:

In [26]:
sNum[-3:]

4     8
5    98
6    90
dtype: int64

Maar we kunnen meer. Stel dat je alle getallen die groter dan 30 zijn wilt selecteren?

Dit kun je met pandas heel erg eenvoudig. Kijk maar eens!

In [27]:
sNum[sNum > 30]

1     43
2    102
3     76
5     98
6     90
dtype: int64

De uitdrukking ```sNum > 30``` levert een Series op met boolean waarden. Deze wordt hierboven gebruikt als selectie van ```sNum```. Je kunt ```sNum > 30``` ook gewoon printen.

In [28]:
sNum > 30

0    False
1     True
2     True
3     True
4    False
5     True
6     True
dtype: bool

## Selectie met meerdere voorwaarden
Je kunt zelfs aangeven dat je alle getallen tussen 30 en 50 wilt hebben. Dat doe je met de ```&``` (betekent ```AND```). De regel ```sNum[(sNum > 30) & (sNum < 50)]``` betekent dus: Als sNum groter is dan 30 en ook kleiner dan 50, dan selecteren we hem. Kijk maar eens:

In [29]:
sNum[(sNum > 30) & (sNum < 50)]

1    43
dtype: int64

### Opdracht
Geef de code waarmee je alle getallen, die kleiner dan 20 of groter dan 100 zijn, in een Series zet. Print de Series uit.

*TIP*: Naast de & (and) hebben we ook de | (or). Deze | heb je nodig om de opgave te kunnen maken.

## Functies voor het samenvatten van een Series
Pandas heeft een aantal superhandige functies dat je kunt gebruiken om bijvoorbeeld het gemiddelde van een Series met getallen te berekenen. Dit doe je met de functie ```mean()```

In [31]:
print ("Het gemiddelde is", sNum.mean())

Het gemiddelde is 62.857142857142854

Naast de functie mean() heb je ook de volgende functies:

| functie | Betekenis      |
|---------|--------------------------------------------|
| count() | Geeft het aantal waarden in de Series      |
| sum()   | Telt de waarden in de Series bij elkaar op |
| min()   | Pakt de minimumwaarde uit de Series        |
| max()   | Pakt de maximumwaarde uit de Series        |

### Opdracht
Henk heeft tot nu toe de volgende cijfers behaald: 6, 7, 8, 4, 5.5, 6.5, 7, 2, 5, 4, 3, 8, 9, 9.8, 9.7, 9.4, 2, 5, 7, 8, 6.2, 5.7, 8, 9

Schrijf een programma waarbij je een pandas Series maakt met deze cijfers erin. Vervolgens de volgende gegevens uitprint (Python moet ze allemaal berekenen):
* Hoeveel cijfers heeft hij behaald?
* Wat is het gemiddelde van al zijn cijfers?
* Wat is het laagste cijfer dat hij ooit heeft gehaald?
* Wat is het hoogste cijfer dat hij ooit heeft gehaald?

## Loopen door een pandas Series
Je kunt ook vrij eenvoudig loopen door een pandas Series lijst. Hieronder een voorbeeld:

In [2]:
import pandas as pd
sNum = pd.Series([23,43,102,76,8,98,90])
for item in sNum:
       print ("Element: ", item)

Element:  23
Element:  43
Element:  102
Element:  76
Element:  8
Element:  98
Element:  90